<a href="https://colab.research.google.com/github/anujkhaire/Machine-Learning/blob/main/Market_Basket_Analysis/Market_Basket_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=211fea6441f2320facfbdda9e1d8be1b65ff2a25d2d4959f0519e96a10560a4a
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [4]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/colab_datasets/Market_Basket_Optimisation.csv',header=None)
#replacing empty value with 0.
df.fillna(0,inplace=True)
df.head()

              0          1           2   ...               17       18         19
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...                0        0          0
2        chutney          0           0  ...                0        0          0
3         turkey    avocado           0  ...                0        0          0
4  mineral water       milk  energy bar  ...                0        0          0

[5 rows x 20 columns]

In [5]:
#for using aprori need to convert data in list format..
# transaction = [['apple','almonds'],['apple'],['banana','apple']]....
transactions = []
for i in range(0,len(df)):
    transactions.append([str(df.values[i,j]) for j in range(0,20) if str(df.values[i,j])!='0'])

In [6]:
transactions[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [11]:
  from apyori import apriori
  #Call apriori function which requires minimum support, confidance and lift, min length is combination of item default is 2".
  rules = apriori(transactions,min_support=0.003,min_confidance=0.2,min_lift=3,min_length=2)

In [8]:
rules

In [9]:
# all rules need to be converted in a list..
Results = list(rules)

In [12]:
#convert result in a dataframe for further operation...
df_results = pd.DataFrame(Results)
df_results.head()

                              items  ...                                 ordered_statistics
0        (cottage cheese, brownies)  ...  [((brownies), (cottage cheese), 0.102766798418...
1            (chicken, light cream)  ...  [((chicken), (light cream), 0.0755555555555555...
2  (escalope, mushroom cream sauce)  ...  [((escalope), (mushroom cream sauce), 0.072268...
3                 (escalope, pasta)  ...  [((escalope), (pasta), 0.07394957983193277, 4....
4       (tomato juice, fresh bread)  ...  [((fresh bread), (tomato juice), 0.09907120743...

[5 rows x 3 columns]

In [13]:
#keep support in a separate data frame so we can use later.. 
support = df_results.support

In [14]:
'''
convert orderstatistic in a proper format.
order statistic has lhs => rhs as well rhs => lhs we can choose any one for convience i choose first one which is 'df_results['ordered_statistics'][i][0]'
''' 

#all four empty list which will contain lhs, rhs, confidance and lift respectively.

first_values = []
second_values = []
third_values = []
fourth_value = []

# loop number of rows time and append 1 by 1 value in a separate list.. first and second element was frozenset which need to be converted in list..
for i in range(df_results.shape[0]):
    single_list = df_results['ordered_statistics'][i][0]
    first_values.append(list(single_list[0]))
    second_values.append(list(single_list[1]))
    third_values.append(single_list[2])
    fourth_value.append(single_list[3])

In [15]:
#convert all four list into dataframe for further operation..
lhs = pd.DataFrame(first_values)
rhs= pd.DataFrame(second_values)
confidance=pd.DataFrame(third_values,columns=['Confidance'])
lift=pd.DataFrame(fourth_value,columns=['lift'])

In [22]:
#concat all list together in a single dataframe
df_final = pd.concat([lhs,rhs,support,confidance,lift], axis=1)
df_final

                0         1  ... Confidance      lift
0        brownies      None  ...   0.102767  3.225330
1         chicken      None  ...   0.075556  4.843951
2        escalope      None  ...   0.072269  3.790833
3        escalope      None  ...   0.073950  4.700812
4     fresh bread      None  ...   0.099071  3.259356
..            ...       ...  ...        ...       ...
89    ground beef  pancakes  ...   0.211009  3.532991
90    ground beef      None  ...   0.031208  3.344117
91      olive oil      None  ...   0.050607  3.216994
92  mineral water      milk  ...   0.063889  3.014029
93       tomatoes      None  ...   0.048733  3.097846

[94 rows x 8 columns]

In [24]:
df_final.fillna(value=' ', inplace=True)
#set column name
df_final.columns = ['lhs',0,'rhs',1,2,'support','confidance','lift']
#add all three column because those where the lhs itemset only
df_final['lhs'] = df_final['lhs']+str(", ")+df_final[1]+str(", ")
df_final.head()

                     lhs  0  ... confidance      lift
0     brownies,  , ,  ,      ...   0.102767  3.225330
1      chicken,  , ,  ,      ...   0.075556  4.843951
2     escalope,  , ,  ,      ...   0.072269  3.790833
3     escalope,  , ,  ,      ...   0.073950  4.700812
4  fresh bread,  , ,  ,      ...   0.099071  3.259356

[5 rows x 8 columns]

In [18]:
#drop those 1,2 column because now we already appended to lhs column..
df_final.drop(columns=[0,1,2],inplace=True)

In [19]:
df_final.head()

                lhs                   rhs   support  confidance      lift
0     brownies,  ,         cottage cheese  0.003466    0.102767  3.225330
1      chicken,  ,            light cream  0.004533    0.075556  4.843951
2     escalope,  ,   mushroom cream sauce  0.005733    0.072269  3.790833
3     escalope,  ,                  pasta  0.005866    0.073950  4.700812
4  fresh bread,  ,           tomato juice  0.004266    0.099071  3.259356